/* ======================================================
   Hero Layout
====================================================== */

.hero {
    padding: 60px 20px 20px;
}

.shield {
    width: 190px;
    display: block;
    margin: auto;
}