/* ======================================================
   Hero
====================================================== */

.hero p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #bdbdbd;
}

/* ======================================================
   Hero Image
====================================================== */

.hero-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center 28%;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0,0,0,.45);
}

.hero-image:hover {
    transform: scale(1.01);
}

/* ======================================================
   Athletes
====================================================== */

.athlete-ryley,
.athlete-addison {
    height: 430px;
    transition: .35s;
}

.athlete- ryley:hover {
    transform: translateX(8px) scale(1.02);
}

.athlete-addison:hover {
    transform: translateX(-8px) scale(1.02);
}

/* ======================================================
   shield
====================================================== */

.shield {
    width: 190px;
    display: block;
    margin: auto;
    filter: drop-shadow(0 15px 40px rgba(242,175,2,.25));
}

.shield-small {
    width: 140px;
}

.shield {
    filter: drop-shadow(0 15px 40px rgba(242,175,2,.25));
}