/* ======================================================
   Get Directions Button
====================================================== */

#next-directions {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 24px;
    background: #7A1436;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 700;
    border: 3px solid #D4AF37;
    border-radius: 18px;
    box-shadow: 0 6px 15px rgba(0,0,0,.35);
    transition: .25s;
}

#next-directions:hover {
    background: #A3194C;
    transform: scale(1.03);
}

#next-directions:link,
#next-directions:visited,
#next-directions:active {
    color: #fff !important;
    text-decoration: none !important;
}
