/* ======================================================
   Subscribe
====================================================== */

#subscribe {
    margin: 20px auto;
    text-align: center;
}

.subscribe-button {
    display: block;
    max-width: 340px;
    margin: 20px auto;
    padding: 18px 24px;
    background: #7A1436;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border: 3px solid #D4AF37;
    border-radius: 18px;
    box-shadow: 0 6px 15px rgba(0,0,0,.35);
    transition: .25s;
}

.subscribe-button:hover {
    background: #A3194C;
    transform: scale(1.03);
}

.subscribe-button small {
    display: block;
    margin-top: 8px;
    font-size: .9rem;
    font-weight: 400;
    color: #f2f2f2;
}