/* ======================================================
   Desktop
====================================================== */

@media (min-width: 1024px) {

    /* Desktop overrides */

}

/* ======================================================
   Desktop Hero Image
====================================================== */

@media (min-width: 1024px) {

    .hero-image {
        height: 360px;
        object-position: center 30%;
    }

}

/* ======================================================
   Desktop Fundraiser
====================================================== */

@media (min-width: 1024px) {

    .featured-card {
        max-width: 650px;
    }

    .featured-content h2 {
        font-size: 1.6rem;
    }

    .featured-image {
        width: 100%;
        height: auto;
        display: block;
    }

}


